*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* font-family:"Nunito Sans",sans-serif; */
}

header{
  /* border:1px solid red; */
  background-color: #8A8C87;
  /* background-color:transparent; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width:100%;
  height:60px;
  background-image: url(../img/headback.png);
  border-bottom: 2px solid grey;
  opacity: .95;
  position: relative;
  z-index: 99;

}


header div.logo{
  /* border:1px solid maroon; */
  height: 80%;
  position:absolute;
  left:40px;
  bottom:2px;
  z-index: 99;
}

header div.logo a{
  /* border:1px solid red; */
  display: block;
  min-width:120px;
  height:60px;
  transform: translateY(-20%);
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
}

header div.logo a::before{
  content:"bespoke";
  position:absolute;
  right:-80px;
  bottom:-5px;
  font-family: "Allura";
  color:#424242;
  font-size: 26px;
  font-weight: 100;
  opacity: .5;
  z-index: 2;
}

/* header */
header nav.head_nav{
  /* border:1px solid maroon; */
  display: flex;
  min-width:480px;
  height: 80px;
  font-family:"Rubik", sans-serif;
  font-size: 14px;
  font-weight: 500;
  z-index: 99;
}

header nav.head_nav ul{
  /* border:1px solid blue; */
  width: 100%;
  height:100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 5px;
}

header nav.head_nav ul.nav li{
  /* border:1px solid green; */
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
}

header nav.head_nav a{
  /* border: 1px solid red; */
  display: inline-flex;
  flex-shrink: 0;
  text-decoration: none;
  color:#383838;
  height:100%;
  position: relative;
}

header nav.head_nav ul li a:hover{
  color:rgb(143, 0, 42);
  transition: all .5s ease-out;
}

header nav.head_nav ul li a:hover::after{
  content:'';
  width:10px;
  height:0;
  position:absolute;
  left:25px;
  bottom:0px;
  transform: translateX(-50%);
  border:1px solid rgb(143, 0, 42);

  animation-name:undernav1;
  animation-duration: .3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}
@keyframes undernav1 {
  0%{
    transform:scaleX(1);
  }

  100%{
    transform:scaleX(5);
  }

}


header nav.head_nav ul li.nav2 a:hover::after{

  left:43%;
  animation-name:undernav2;
}
@keyframes undernav2 {
  0%{
    transform:scaleX(1);
  }

  100%{
    transform:scaleX(7.5);
  }

}


header nav.head_nav ul li.nav3 a:hover::after{
  left:43%;
  animation-name:undernav3;
}
@keyframes undernav3 {
  0%{
    transform:scaleX(1);
  }

  100%{
    transform:scaleX(7);
  }

}

header nav.head_nav ul li.nav4 a:hover::after{
  left:44%;
  animation-name:undernav4;
}
@keyframes undernav4 {
  0%{
    transform:scaleX(1);
  }

  100%{
    transform:scaleX(6);
  }

}

header nav.head_nav ul.nav li.nav3 a{
  color:rgb(143, 0, 42);
}




/* icon */
header div.head_aside{
  /* border:1px solid maroon; */
  width:180px;
  height:100%;
  position:absolute;
  right:0;
  bottom:6px;
  z-index: 99;
}

header div.head_aside a{
  text-decoration: none;
  /* border: 1px solid red; */
  display: inline-flex;
  justify-content: flex-start;

}


header div.head_aside a img.redheart{
  /* border:1px solid maroon; */
  width:18px;
  height:16px;
  position: absolute;
  right:140px;
  bottom:0px;
  opacity: 0;
  z-index: 2;
}

header div.head_aside a img.gryheart{
  /* border:1px solid maroon; */
  width:18px;
  height:16px;
  position: absolute;
  right:140px;
  bottom:0px;
  opacity: .95;
  z-index: 1;
}


header div.head_aside a img.redheart:hover{
  opacity: 1;
  transition: all .3s;

}

/* bag icon  */
header div.head_aside a img.redbag{
  /* border:1px solid maroon; */
  width:16px;
  height:19px;
  position: absolute;
  right:102px;
  bottom:0px;;
  opacity: 0;
  z-index: 2;
}

header div.head_aside a img.grybag{
  /* border:1px solid maroon; */
  width:16px;
  height:19px;
  position: absolute;
  right:102px;
  bottom:0px;
  opacity: 1;
  z-index: 1;
}


header div.head_aside a img.redbag:hover{
  opacity: 1;
  transition: all .3s;

}


/* acc icon */
header div.head_aside a img.redacc{
  /* border:1px solid maroon; */
  width:19px;
  height:20px;
  position: absolute;
  right:60px;
  bottom:0px;
  opacity: 0;
  z-index: 2;
}

header div.head_aside a img.gryacc{
  /* border:1px solid maroon; */
  width:19px;
  height:20px;
  position: absolute;
  right:60px;
  bottom:0px;
  opacity: 1;
  z-index: 1;
}


header div.head_aside a img.redacc:hover{
  opacity: 1;
  transition: all .3s;

}

/* ham */
.hamburger{
  position: absolute;
  left: 60px;
  bottom: 10px;
  display: none;
  z-index: 99;
}
.hamburger .line{
  width: 30px;
  height: 3px;
  background-color:#383838;
  display: block;
  margin: 4px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

/* ONE */

#hamburger-1.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1){
  -webkit-transform: translateY(7px) rotate(45deg);
  -ms-transform: translateY(7px) rotate(45deg);
  -o-transform: translateY(7px) rotate(45deg);
  transform: translateY(7px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3){
  -webkit-transform: translateY(-7px) rotate(-45deg);
  -ms-transform: translateY(-7px) rotate(-45deg);
  -o-transform: translateY(-7px) rotate(-45deg);
  transform: translateY(-7px) rotate(-45deg);
}


/*  */
section.banner{
  /* border: 1px solid red; */
  width:100%;
  height:180px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #F3F0E2;
}


section.banner div.banbox{
  /* border: 1px solid red; */
  width:100%;
  height:180px;
  background-image: url(../img/cowpaper.png);
  background-position: 50% 100%;
  opacity: .8;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: flex-end;
}
section.banner div.banbox p.page{
  font-family: "Work Sans";
  font-size: 100px;
  font-weight: 700;
  color:rgba(122, 48, 48, .15);
  filter: grayscale(40%);
  margin-left: 5%;
  position: relative;
  left:60px;
  top:-15px;

}
section.banner div.banbox p.title{
  /* border: 1px solid red; */
  font-family: "Timmana";
  font-size: 60px;
  color:rgba(122, 48, 48,.6);
  filter: grayscale(40%);
  font-weight: 400;
  letter-spacing: 2px;
  position: relative;
  left:40px;
  top:3px;
}




/* style guide */
section.styleguide{
  /* border:1px solid red; */
  width:100%;
  height:900px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position:relative;
  background-color:#F3F0E2;

}

section.styleguide::after{
  /* border:1px solid red; */
  content:'';
  width:100%;
  height:900px;
  position: absolute;
  left:0;
  top: 0;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 60% 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 60% 100%);
  background-image: url(../img/cowpaper.png);
  opacity: .8;
  /* z-index: -1; */
}

/* section.styleguide div.guidetitle{
  border:1px solid red;
  width:100%;
  font-family:"Work Sans";
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  color:#770B0A ;
  margin-top: 80px;
  z-index: 9;
  letter-spacing: 2px;
  word-spacing: 10px;
  opacity: .6;
} */

section.styleguide div.guideimg{
  /* border:1px solid red; */
  width:100%;
  height: 800px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  z-index: 9;
  position: relative;

}

section.styleguide div.guideimg::after{
  border:2px solid grey;
  content:"";
  width:84%;
  height: 500px;
  position: absolute;
  left:8%;
  top:100px;
  z-index:-1;
  border-radius: 20px;
  opacity: .6;

}

section.styleguide div.guideimg div p{
  /* border: 1px solid red; */
  position: absolute;
  top:100px;
  left:0px;
  font-family: "Expletus sans";
  font-size: 18px;
  font-weight: 600;
  color:grey;
  letter-spacing: 5px;
}


section.styleguide div.guideimg div.classicimg{
  /* border: 1px solid red; */
  width:20%;
  min-width: 300px;
  height:600px;
  position: relative;
  top:2px;
  background-image: url(../img/classic.png);
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

section.styleguide div.guideimg div.classicimg p{
  transform: rotateZ(90deg) translateX(60px) translateY(10px);
}

section.styleguide div.guideimg div.classicimg::after{
  content:"";
  /* border: 1px solid red; */
  width:100%;
  height:600px;
  position: absolute;
  left:20px;
  bottom:0px;
  background-image: url(../img/classicshadow.png);
  background-position: 45% 0%;
  background-repeat: no-repeat;
  /* background-size: contain; */
  z-index: -1;
  opacity: .3;
}

section.styleguide div.guideimg div.classicimg::before{
  content:"";
  /* border: 1px solid red; */
  width:100%;
  height:620px;
  position: absolute;
  left:-40px;
  bottom:0px;
  background-image: url(../img/classicred.png);
  background-position: 40% 10%;
  background-repeat: no-repeat;
  /* background-size: cover; */
  /* z-index: -1; */
  opacity: 0;
}

section.styleguide div.guideimg div.classicimg a{
  border:1px solid #efefef;
  position:absolute;
  left:25%;
  top:45%;
  text-decoration: none;
  font-family: "Nunito Sans";
  font-weight: 400;
  letter-spacing: 5px;
  color:white;
  padding: 8px 25px;
  opacity: 0;
}

section.styleguide div.guideimg div.classicimg a:hover{
  background-color: #efefef;
  color:maroon;
}

section.styleguide div.guideimg div.classicimg:hover:before{
  opacity: .8;
  transition: .4s ease-out;
}
section.styleguide div.guideimg div.classicimg:hover a{
  opacity: .8;
  cursor:pointer;
  transition: .4s ease-out;
}



section.styleguide div.guideimg div.dopeimg{
  /* border: 1px solid red; */
  width:23%;
  min-width: 300px;
  height:600px;
  position: relative;
  top:1px;
  background-image: url(../img/dope.png);
  background-position: 100% 0%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 45% 0%;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 6px;
  /* transform: translateY(35px); */
}

section.styleguide div.guideimg div.dopeimg p{
  transform: rotateZ(90deg) translateX(36px) translateY(-26px);
}

section.styleguide div.guideimg div.dopeimg::after{
  content:"";
  /* border: 1px solid red; */
  width:100%;
  height:580px;
  position: absolute;
  left:40px;
  bottom:0px;
  background-image: url(../img/dopeshadow.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  z-index: -1;
  opacity: .3;
}

section.styleguide div.guideimg div.dopeimg::before{
  content:"";
  /* border: 1px solid red; */
  width:100%;
  height:610px;
  position: absolute;
  left:-20px;
  bottom:-1px;
  background-image: url(../img/dopered.png);
  background-repeat: no-repeat;
  background-position: 45% 0%;
  background-size: cover;
  /* z-index: -1; */
  opacity: 0;
}

section.styleguide div.guideimg div.dopeimg a{
  border:1px solid #efefef;
  position:absolute;
  left:33%;
  top:44%;
  /* text-decoration: none; */
  font-family: "Nunito Sans";
  font-weight: 400;
  letter-spacing: 8px;
  color:white;
  text-decoration: none;
  padding: 8px 25px;
  opacity: 0;
}

section.styleguide div.guideimg div.dopeimg a:hover{
  background-color: #efefef;
  color:maroon;
}

section.styleguide div.guideimg div.dopeimg:hover:before{
  opacity: .8;
  transition: .4s ease-out;
}
section.styleguide div.guideimg div.dopeimg:hover a{
  opacity: .8;
  transition: .4s ease-out;
}




section.styleguide div.guideimg div.dailyimg{
  /* border: 1px solid red; */
  width:25%;
  min-width: 400px;
  height:600px;
  position: relative;
  background-image: url(../img/daily.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin-top: 2px;
}

section.styleguide div.guideimg div.dailyimg p{
  transform: rotateZ(90deg) translateX(44.5px) translateY(-30px);
}

section.styleguide div.guideimg div.dailyimg::after{
  content:"";
  /* border: 1px solid red; */
  width:100%;
  height:580px;
  position: absolute;
  left:10px;
  bottom:0;
  background-image: url(../img/dailyshadow.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 50%;
  z-index: -1;
  opacity: .3;
}

section.styleguide div.guideimg div.dailyimg::before{
  content:"";
  /* border: 1px solid red; */
  width:100%;
  height:610px;
  position: absolute;
  left:0px;
  bottom:0;
  background-image: url(../img/dailyred.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% 50%;
  /* z-index: -1; */
  opacity: 0;
}

section.styleguide div.guideimg div.dailyimg a{
  border:1px solid #efefef;
  position:absolute;
  left:29%;
  top:45%;
  text-decoration: none;
  font-family: "Nunito Sans";
  font-weight: 400;
  letter-spacing: 5px;
  color:white;
  padding: 8px 25px;
  opacity: .0;
}

section.styleguide div.guideimg div.dailyimg a:hover{
  background-color: #efefef;
  color:maroon;
}

section.styleguide div.guideimg div.dailyimg:hover:before{
  opacity: .8;
  transition: .4s ease-out;
}
section.styleguide div.guideimg div.dailyimg:hover a{
  opacity: .8;
  transition: .4s ease-out;
}


/* footer */
footer.footer{
  /* border:1px solid gold; */
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  width:100%;
  
  height:400px;
  position: relative;
  background-color: #121212;
  box-shadow: 0px -5px 20px 1px rgba(79, 79, 79, .4);
  z-index: 100;
}

footer.footer::before{
  content:'';
  width:100%;
  height:100%;
  position: absolute;
  left:0;
  top:0;
  background-image: url(../img/decotex.png);
  opacity: .1;
}

footer div.footerleft{
  /* border: 1px solid blue; */
  width:35%;
  display:flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
footer div.footerleft div.leftop{
  /* border: 1px solid red; */
  width:100%;
  height:6%;
  color:rgb(143, 0 ,43);
  font-family: "rubik";
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgb(143, 0 ,43);
  margin-top: 30px;



}
footer div.footerleft div.lefbot{
  /* border: 1px solid green; */
  width:100%;
  height:80%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;

}
footer div.footerleft div.lefbot div{
  /* border: 1px solid navy; */
  margin-right: 10px;
  width:30%;
  height:100%;
  display:flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}

footer div.footerleft div.lefbot div p{
  margin-bottom: 15px;
  font-family: "nunito sans";
  font-size: 16px;
  color:#afafaf;
  margin-top: 10px;
}

footer div.footerleft div.lefbot div a{
  margin-bottom: 15px;
  display: block;
  /* border: 1px solid red; */
  font-family: "nunito sans";
  font-size: 14px;
  text-decoration: none;
  color:#757575;
  z-index: 99;
}
footer div.footerleft div.lefbot div a:hover{
  color:rgb(143, 0 ,43);
  text-decoration: underline;
}
footer div.footerleft div.lefbot div.botleft button a{
  display: block;
  z-index: 99;
  width:100%;
  height:100%;
  padding: 10px;
  color:#afafaf;
  text-decoration: none;
  font-size: 12px;
  font-family: Nunito Sans;
}
footer div.footerleft div.lefbot div.botleft button a:hover{
  background-color: rgb(143, 0, 43);
  transition: .3s ease-out;
}
footer div.footerleft div.lefbot div button{
  width:80%;
  height:40px;
  border:2px solid rgb(143, 0, 43);
  background-color: transparent;
  z-index: 98;
}



/*  */
footer div.footermid{
  /* border: 1px solid blue; */
  width:25%;
  display:flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

footer div.footermid .midtop{
  width:100%;
  height:6%;
  color:rgb(143, 0 ,43);
  font-family: "rubik";
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgb(143, 0 ,43);
  margin-top: 30px;
}
footer div.footermid div.midbot{
  /* border: 1px solid green; */
  width:100%;
  height:80%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;

}
footer div.footermid div.midbot p.place{
  margin-bottom: 15px;
  font-family: "nunito sans";
  font-size: 16px;
  color:#afafaf;
  margin-top: 10px;
}

footer div.footermid div.midbot a{
  margin-bottom: 15px;
  display: block;
  /* border: 1px solid red; */
  font-family: "nunito sans";
  font-size: 14px;
  text-decoration: none;
  color:#757575;
  z-index: 99;
}

footer div.footermid div.midbot a:hover{
  color:rgb(143, 0 ,43);
  text-decoration: underline;
}

footer div.footermid div.midbot p.open{
  /* border: 1px solid red; */
  font-family: "nunito sans";
  font-size: 14px;
  text-decoration: none;
  color:rgb(155, 154, 154);
  z-index: 99;
  width:90%;
}








/*  */
footer div.footerright{
  /* border: 1px solid blue; */
  width:30%;
  background-color: black;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  /* z-index: 50; */
}


footer div.footerright .righttop{
  width:75%;
  height:6%;
  color:rgb(143, 0 ,43);
  font-family: "rubik";
  font-size: 16px;
  font-weight: 500;
  border-bottom: 2px solid rgb(143, 0 ,43);
  margin-top: 30px;
  align-self: flex-start;
  text-align: center;
}
footer div.footerright div.rightbot{
  /* border: 1px solid green; */
  width:75%;
  height:80%;
  align-self:flex-start;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;


}
footer div.footerright div.rightbot p.sign{
  margin-bottom: 15px;
  font-family: "nunito sans";
  font-size: 16px;
  color:#afafaf;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 15px;
}

footer div.footerright div.rightbot input{
  margin: 0 auto;
  margin-bottom: 15px;
  z-index: 99;
}

footer div.footerright div.rightbot input.news{
  width:100px;
  height:30px;
  border:2px solid rgb(143, 0, 43);
  background-color: transparent;
  z-index: 99;
  color:#afafaf;
  margin-top: 10px;
}
footer div.footerright div.rightbot input.news:hover{
  cursor: pointer;
  background-color: rgb(143, 0, 43);
  text-decoration: none;
  transition: .3s ease-out;
}


/* hamclass */

#classlist{
  /* border: 1px solid red; */
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  list-style: none;
  display: none;
}

#classlist li{
  margin: 0 auto;
  width: 35%;
  height: 18%;
}

#classlist li a{
  text-decoration: none;
  font-size: 14px;
  color:#565656;
}

#classlist li a:hover{
  color:rgb(143, 0 ,43);
}

#backham{
  border: 2px solid #787878;
  width: 50%;
  padding: 10px;
  background-color:#787878;
  color:#efefef;
  font-family: 'Rubik';
  font-size: 12px;
  position: absolute;
  top:15%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  outline: 0;
}
#backham:hover{
  color: #787878;
  background-color: #cfcfcf;
}



/*  */
