/* header */
@media screen and (max-width:996px){

    header{
        position: -webkit-sticky; 
        position: sticky;
        top:0;
        left:0;
    }

    header div.logo{
        /* border: 1px solid red; */
        position: absolute;
        left:50%;
        transform: translateX(-80%);
    }
    header div.logo a{
        margin-left: 0;
    }

    header nav.head_nav{
        /* border: 1px solid red; */
        width: 100vw;
        position: fixed;
        left:0;
        top:0;
        min-width: 300px;
        height: 400px;
        background-color: rgba(239, 239, 239, .9);
        opacity:0;
        z-index:-1;
        transition: opacity .4s ease , z-index 1s;
        visibility: hidden;
    }

    header nav.navOn{
        opacity:1;
        z-index:90;
        transition: opacity .4s ease , z-index 1s;
        visibility:visible;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(239, 239, 239, .95);
    }

    header nav.head_nav ul{
        /* border: 1px solid green; */
        width: 100%;
        height: 50%;
        flex-flow: column;
        align-items: center;
    }
    header nav.head_nav ul li{
        border-bottom: 1px solid rgba(86, 86, 86, .4);
        width:40%;
        height:25%;
    }
    header nav.head_nav ul li{
        opacity:0;
        transition: opacity .4s ease;
    }
    header nav.head_nav ul li:last-child{
        border: 0;
    }
    header nav.head_nav ul li a{
        width: 100%;
        height:100%;
        font-size: 16px;
        color:#383838;
        justify-content: center;
        align-items: center;
    }
    header nav.head_nav ul li a:hover::after{
        border: none;
    }
    header div.hamburger{
        display: block;
    }
    

    header nav.head_nav ul li.clickOn:nth-child(1){
        opacity:1;
        transition: opacity .8s ease;
    }
    header nav.head_nav ul li.clickOn:nth-child(2){
        opacity:1;
        transition: opacity 1.1s ease;
    }
    header nav.head_nav ul li.clickOn:nth-child(3){
        opacity:1;
        transition: opacity 1.4s ease;
    }
    header nav.head_nav ul li.clickOn:last-child{
        opacity:1;
        transition: opacity 1.6s ease;
    }
    
}
@media screen and (max-width:768px){
    header div.hamburger{
        left:40px;
    }
    header div.head_aside a img.gryacc{
        right:30px;
    }
    header div.head_aside a img.redacc{
        right:30px;
    }
    header div.head_aside a img.grybag{
        right:70px;
    }
    header div.head_aside a img.redbag{
        right:70px;
    }
    header div.head_aside a img.gryheart{
        right:108px;
    }
    header div.head_aside a img.redheart{
        right:108px;
    }
}
@media screen and (max-width:576px){
    header div.logo{
        width:auto;
        transform: translateX(-50%);
    }
    header div.logo a::before{
        display: none;
    }
}
@media screen and (max-width:480px){

    header div.hamburger{
        left:20px;
    }
    header div.logo a{
        min-width: 100px;
        height: 60px;
        transform: translateY(-5px);
    }
    header div.head_aside{
        width: auto;
    }
    header div.head_aside a img.gryacc{
        right:20px;
    }
    header div.head_aside a img.redacc{
        right:20px;
    }
    header div.head_aside a img.grybag{
        right:51px;
    }
    header div.head_aside a img.redbag{
        right:51px;
    }
    header div.head_aside a img.gryheart{
        right:80px;
    }
    header div.head_aside a img.redheart{
        right:80px;
    }
}

@media screen and (max-width:360px){
    header div.head_aside a img.gryacc{
        right:10px;
    }
    header div.head_aside a img.redacc{
        right:10px;
    }
    header div.head_aside a img.grybag{
        right:41px;
    }
    header div.head_aside a img.redbag{
        right:41px;
    }
    header div.head_aside a img.gryheart{
        right:70px;
    }
    header div.head_aside a img.redheart{
        right:70px;
    }
    
}

/* footer */
@media screen and (max-width:768px){
    footer.footer{
        height:800px;
        flex-wrap: wrap;
    }
    footer div.footerleft{
        width:50%;
        padding-left: 20px;
    }
    footer div.footermid{
        width:50%;
    }
    footer div.footerright{
        width:100%;
        padding-left: 20px;
    }
    footer div.footerright .righttop{
        width:100%;
        text-align: left;
    }
    footer div.footerright div.rightbot{
        width:100%;   
    }
    footer div.footerright div.rightbot input{
        width:80%;
        height:25px;
        background-color: #383838;
        color:#efefef;
        border:0;
        text-align: center;
    }
    footer div.footerleft div.lefbot div button{
        width: auto !important;
    }
}

@media screen and (max-width:576px){
    footer.footer{
        height:800px;
        flex-wrap: wrap;
    }
    footer div.footerleft{
        width:100%;
        padding-left: 20px;
    }
    footer div.footermid{
        width:100%;
        padding-left: 20px;
    }
    footer div.footermid .midtop {
        height: 10%;
        margin-top: 10px;
    }
}

/* banner */
@media screen and (max-width:1500px){
    div.banner .bannertext h1{
        width: 400px;
        margin-right: 20vw;
    }
}
@media screen and (max-width:1024px){
    div.banner::after{
        font-size: 180px;
        margin-top: 5vh;
    }
}
@media screen and (max-width:996px){

    div.banner::after{
        display: none;
    }
    div.banner .bannertext h1{
        width: 300px;
        align-self: center;
        display: flex;
        justify-content: center;
        margin: 0;
        margin-bottom: 10vw;
    }
    .marquee1 h3{
        bottom: 3vw;
    }
    .marquee2 h3{
        bottom: 3vw;
    }
}
@media screen and (max-width:768px){

    div.banner::after{
        display: none;
    }
    div.banner .bannertext h1{
        width: 300px;
        align-self: center;
        display: flex;
        justify-content: center;
        margin: 0;
        margin-bottom: 10vw;
    }
}

/* processFlow */

@media screen and (max-width:1200px){
    
    section.process div.processflow{
        width: 80%;
    }

}

@media screen and (max-width:996px){

    section.process{
        height:2100px;
        align-items: flex-start;
        padding-top: 120px;
        
    }
    section.process div.processflow div.block2 {
        display: none;
    }
    section.process div.processflow div.block10{
        display: none;
    }
    section.process div.processflow div.block11{
        width:100%;
        margin-top: 20px;
        opacity: .9;
    }

    section.process div.processflow div.block12{
        width:100%;
        height: auto;
        padding-left: 0;
        margin-top: 60px;
    }
    
}

@media screen and (max-width:768px){

    section.process{
        height:2560px;
    }

    section.process div.processflow div.block4{
        width:100%;
        margin-top: 30px;
    }

    section.process div.processflow div.block5{
        width: 100%;
        height: 200px;
    }

    section.process div.processflow div.block7{
        width:100%;
        margin-top: 30px;
        order: 5;
    }
    section.process div.processflow div.block6{
        width: 100%;
        height: 200px;
        order: 6;
    }

    section.process div.processflow div.block8{
        width:100%;
        margin-top: 20px;
    }
    section.process div.processflow div.block9{
        width: 100%;
        height: 200px;
        
    }

}

@media screen and (max-width:576px){

    section.process div.processflow div p{
        font-size: 14px;
    }

    section.process div.processflow div.block0{
        width: 100%;
        height: auto;
    }
    section.process div.processflow div.block1{
        display: none;
    }

}

@media screen and (max-width:468px){

    section.process div.processflow div.block12 h4{
        font-size: 14px;
    }

    div.processendbtn h4{
        font-size: 16px;
    }
}

@media screen and (max-width:360px){

    div.processendbtn h4{
        font-size: 14px;
    }
}

/* team */
@media screen and (max-width:996px){

    section.vteam div.teamdad{
        width:720px;
    }
    section.vteam div.teamdad div.block1{
        display: none;
    }
    section.vteam div.teamdad div.block2{
        width:100%;
        border: 0;
        height:160px;
        justify-content: flex-end;
        /* padding-bottom: 20px; */
        order: 1;
    }
    section.vteam div.teamdad div.block3{
        display: none;
    }

    section.vteam div.teamdad div.block4{
        border: 0;
        height:auto;
        order: 2;
    }
    section.vteam div.teamdad div.block4 div.cutter{
        width:180px;
        height:180px;   
    }

    section.vteam div.teamdad div.block5 {
        border: 0;
        height:auto;
        order: 2;
    }
    section.vteam div.teamdad div.block5 div.tailor{
        width:180px;
        height:180px; 
        
    }

    section.vteam div.teamdad div.block6{
        border: 0;
        height:auto;
        order: 2;
    }
    section.vteam div.teamdad div.block6 div.manager{
        width:180px;
        height:180px; 
    }

    section.vteam div.teamdad div.block7{
        width: 100%;
        margin-top: 0;
        margin-left: 0;
        order: 1;
        margin-bottom: 20px;
    }
    section.vteam div.teamdad div.block7 h6{
        font-size: 16px;
        margin-left: 0;
        margin-bottom: 30px;
    }
    
}

@media screen and (max-width:768px){

    section.vteam {
        height: 900px;
    }
    section.vteam div.teamdad{
        width:80%;
        height: auto;
        
    }
    section.vteam div.teamdad div.block4{
        width:50%;
    }
    section.vteam div.teamdad div.block5{
        width:50%;
    }
    section.vteam div.teamdad div.block6{
        width:100%;
    }
}

@media screen and (max-width:576px){

    section.vteam{
        height:1200px;
        justify-content: flex-start;
    }
    section.vteam div.teamdad div.block7 h6{
        font-size: 14px;
        margin-bottom: 0;
        margin-left: 20px;
    }
    section.vteam div.teamdad div.block4{
        width:100%;
        margin-bottom: 20px;
    }
    section.vteam div.teamdad div.block5{
        width:100%;
        margin-bottom: 20px;
    }

}

/* craftTop */
@media screen and (max-width:996px){

    section.craft div.crafttop{
        height:300px;
    }

}

@media screen and (max-width:400px){

    section.craft div.crafttop h4{
        margin-left: 20px;
    }

    section.craft div.crafttop h6{
        padding-right: 10px;
        padding-left: 10px;
    }

    section.craft div.crafttop div.flow{
        margin-left: 20px;
    }
}


/* craftBody */
@media screen and (max-width:1200px){

    section.craft div.craftbody{
        width: 90%;
    }
    

    section.craft div.craftbody div.craftclass div{
        width: 250px !important;
        height: 250px !important;
    }

}

@media screen and (max-width:1024px){

    section.craft div.craftbody{
        height: 1000px;
    }

    section.craft div.craftbody div.craftclass{
        justify-content: center;
        align-items: center;
        flex-flow:row wrap;
        height: 80%;
    }

    section.craft div.craftbody button{
        margin-top: 0;
    }

    section.craft div.craftbody div.craftclass div{
        transform: none !important;
        margin-right: 10%;  
    }
    section.craft div.craftbody div.craftclass div:nth-child(2){
        margin-right: 0;
    }
    section.craft div.craftbody div.craftclass div:nth-child(4){
        margin-right: 0;
    }

}

@media screen and (max-width:768px){

    section.craft div.craftbody{
        height: 1250px;
    }
    section.craft div.craftbody div.craftclass{
        width: 80%;
        flex-flow: column;
    }
    section.craft div.craftbody div.craftclass div.suits{
        align-self: flex-start;
    }
    section.craft div.craftbody div.craftclass div.formalwear{
        align-self: flex-end;
    }
    section.craft div.craftbody div.craftclass div.sportjacket{
        align-self: flex-start;
    }
    section.craft div.craftbody div.craftclass div.outerwear{
        align-self: flex-end;
    }
}

@media screen and (max-width:576px){
    section.craft div.craftbody{
        width: 100%;
    }
    section.craft div.crafttop{
        height:200px;
    }
}

@media screen and (max-width:480px){

    section.craft div.craftbody{
        width: 100%;
        height: 1100px;
    }

    section.craft div.craftbody div.craftclass div{
        margin: 0 !important;
        width: 200px !important;
        height: 200px !important;
        align-self: flex-start;
    }
}

@media screen and (max-width:375px){

    section.craft div.craftbody div.craftclass{
        width: 90%;
    }
}


/* craftBot */

@media screen and (max-width:1200px){
    section.craft div.craftbot div.vspoker div{
        width:200px;
        height:280px;
    }
}

@media screen and (max-width:996px){
    section.craft div.craftbot div.vspoker div:nth-child(3){
        display: none;
    }
}

@media screen and (max-width:700px){
    section.craft div.craftbot div.vspoker div:nth-child(2){
        display: none;
    }
}

@media screen and (max-width:480px){
    section.craft div.craftbot h6{
        width: 300px;
        font-size: 16px;
        text-align: center;
    }
    section.craft div.craftbot h4{
        width: 300px;
        font-size: 20px;
        text-align: center;
    }
    section.craft div.craftbot div.vspoker div:nth-child(1){
        display: none;
    }

    section.craft div.craftbot div.vspoker div{
        width:250px;
        height:320px;
    }
}

@media screen and (max-width:340px){

    section.process div.processflow div.block5 h4{
        margin-top: 20px;
    }
    section.process div.processflow div.block9 h4{
        margin-top: 20px;
    }
}

/* backtop */
@media screen and (max-width:768px){
    #myBtn{
        right: 40px;
        bottom: 30px;
    }
}

@media screen and (max-width:576px){
    #myBtn{
        
        right: 20px;
        bottom: 20px;
    }
}

@media screen and (max-width:768px){
    /* div.banner::before{
        width: 100%;
    } */
}

/*  add */
@media screen and (max-width:576px){
    div.banner .bannertext h1{
        width: 80%;
        align-self: flex-start;
        text-align: right;
        font-size: 80px;
        transform: translateY(-50%);
        
    }
    div.banner div.bannertext button{
        width: 250px;
        
    }
    div.banner div.bannertext button a{
        letter-spacing: 1px;
    }
    div.banner video{
        display: none;
    }
}
@media screen and (max-width:460px){

    div.banner .bannertext h1{
        font-size: 60px;
        
    }
    
}
@media screen and (max-width:360px){

    div.banner .bannertext h1{
        font-size: 50px;
        
    }
    
}